body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
footer {
    z-index: 1000;
    width: 50%;
    position:fixed;
    bottom: 0px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    left:25%;
    color:white;
    /*height: 142px;*/
}
.footer-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius:40px 40px 0 0;
    height:50px;
}

.result-table tbody,
.result-table thead { display: block; 
}
.result-table thead tr th { 
    height: 30px;
}

.result-table tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}
.sensor-info {
    height: 200px;
}
.checkbox-col {
    width:10%;
}
th.checkbox-col{
    border-radius: 0 8px 0 0;
    border-top-width:0;
}
.result-col, .sensor-col{
    width: 150px;
}
.checkbox-col {
    width: 50px;
}

.position-input {
    width: 80px;
}
.sensor-identifier {
    width: 150px;
}
