<div {% if tabname == "about" %}class="tab-pane active show"{% else %}class="tab-pane"{% endif %} id="about" role="tabpanel" aria-expanded="True">
    <table class="table">	
        <tbody >
            <tr>
                <td>
                    Developer
                </td>
                <td>
                    Konstantin Niehaus - konstantin.niehaus [ at ] dlr.de
                </td>
            </tr>
            <tr>
                <td>
                    Institute
                </td>
                <td>
                    German Aerospace Center - Göttingen
                </td>
            </tr>
            <tr>
                <td>
                    Department
                </td>
                <td>
                    Ground Vehicles (AS-BOA)
                </td>
            </tr>
            <tr>
                <td>
                    Repository
                </td>
                <td>
                    <a href="https://gitlab.com/Egenskaber/mobile-measurement-system"> as-boa/mobile-measurement-system</a>
                </td>
            </tr>
            <tr>
                <td>
                    Issues
                </td>
                <td>
                    <a href="https://gitlab.com/Egenskaber/mobile-measurement-system/-/issues"> Report </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

