<!-- 
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT

    Interface to measurement series and operations to 
    interact with exisitng measurement series.
-->


<div 
    id="data" 
    role="tabpanel" 
    aria-expanded="True"
    {% if tabname == "data" %}
        class="tab-pane active show"
    {% else %}
        class="tab-pane"
    {% endif %} 
    >
    <div class="h4 d-flex justify-content-center p-2">
        Data
    </div>

    <div id="storage_info" class="d-flex justify-content-center"> </div>

    <div>
        Delete some, delete all, backup
    </div>

    <table class="table sortableTable">
        <thead>
            <tr>
                <th colnumber=0> ID &nbsp;<i class="fas fa-sort"></th>
                <th colnumber=1> Name &nbsp;<i class="fas fa-sort"></th>
                <th colnumber=2> Started &nbsp;<i class="fas fa-sort"></th>
                <th colnumber=3> Stopeed &nbsp;<i class="fas fa-sort"></th>
                <th> Link </th>
                <th> Store </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for id, name, start, stop in measurement_information %}
                <tr id="mr_{{ id }}">
                    <td class="mr_id">{{ id }}</td>
                    <td class="mr_name">{{ name}}</td>
                    <td class="mr_start">{{ start }}</td>
                    <td class="mr_stop">{{ stop }}</td>
                    <td> 
                        <a href="/api/results/{{ id }}/?format=json" > Raw </a> 
                    </td>
                    <td> 
                        <form method="post" action=''> 
                            {% csrf_token %}  
                                <div class="btn-group" role="group" aria-label="Test">
                                    <button class="btn btn-secondary" type="submit" name="save" value="{{ id }}_csv" > 
                                        .csv	
                                    </button>
                                    <button class="btn btn-secondary" type="submit" name="save" value="{{ id }}_json" > 
                                        .json
                                    </button>
                                    <button class="btn btn-secondary" type="submit" name="save" value="{{ id }}_nc" > 
                                        .nc
                                    </button>
                                </div>
                        </form>
                    </td>
                    <td> 
                        <form method="post" action=''> 
                            {% csrf_token %}  
                            <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="document.getElementById('delete_{{id}}').style.display='block'">Delete</button>
                                <button class="btn btn-danger" type="submit" id="delete_{{id}}" name="delete_measurement" value="{{id}}" style="display:none"> 
                                    Confirm
                                </button>
                            </div> 
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table >
</div>
