<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT

    Interface to change sensor settings and upload configurations
-->

{% load measurement_server_extras %}

<div 
    id="sensors"
    role="tabpanel"
    aria-expanded="True"
    {% if tabname == "" or tabname == "sensors" %}
        class="tab-pane active show"
    {% else %}
        class="tab-pane"
    {% endif %}>

    <div class="h4 d-flex justify-content-center p-2">
        Sensor identifiers
    </div>

    <div class="alert alert-danger" role="alert" id="identifier-not-unique-warning" style="display:none">
       <i class="fas fa-exclamation-triangle"></i> Sensor identifer have to be unique.
    </div>

    {% if sensor_name_forms|length > 0 %}
        <form method="post" action="">
            {% csrf_token %}
            <table class="table sortableTable" id="sensorTable">	
                <thead class="thead-light">
                    <th colnumber=0> Serial &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=1> Identifier &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=2 style="column-width:100px"> x &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=3 style="column-width:100px"> y &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=4 style="column-width:100px"> z &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=5> FTDI/COM &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=6> MUX &nbsp;<i class="fas fa-sort"></th>
                    <th colnumber=7> Port  &nbsp;<i class="fas fa-sort"></th>
                    <th> Color </th>
                    <th> Plot </th>
                    <th> Status </th>
                    <th colnumber=11> Status &nbsp;<i class="fas fa-sort"></th>
                </thead>
                <tbody id="sensor_name_form">
                    {% for sensor_name_form in sensor_name_forms %}
                        <tr>
                            <td>
                                {{ sensor_name_form.sensor.SENSORserial }}
                            </td>
                            <td>
                                {{ sensor_name_form.identifier }}
                            </td>
                            <td>
                                {{ sensor_name_form.x }}
                            </td>
                            <td>
                                {{ sensor_name_form.y }}
                            </td>
                            <td >
                                {{ sensor_name_form.z }}
                            </td>
                            <td>
                                {{ sensor_name_form.sensor.SENSORtype}}
                            </td>
                            <td>
                                {% if sensor_name_form.sensor.FTDIserial %}
                                    {{ sensor_name_form.sensor.FTDIserial }}
                                {% else %}
                                    {{ sensor_name_form.sensor.COMport }}
                                {% endif %}
                            </td>
                            <td>
                                {{ sensor_name_form.sensor.MUXaddress}}
                            </td>
                            <td>
                                {{ sensor_name_form.sensor.MUXport }}
                            </td>
                            <td>
                                {{ sensor_name_form.color }}

                            </td>
                            <td>

                                <div class="dropdown">
                                  <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenu2"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    Plot 
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <select 
                                            id="plots-{{sensor_name_form.sensor.SENSORserial }}"
                                            name="plots-{{ sensor_name_form.sensor.SENSORserial}}"
                                            multiple="multiple"
                                            >
                                      {% for field in sensor_name_form %}
                                        {% if field|get_unit_name %}
                                            <option value="{{field.name}}"
                                                    name="{{field.name}}"
                                                    id="{{field.id_for_label}}"
                                                    initial="{{ field.initial }}">
                                            {{ field|get_unit_name }}
                                          </option>
                                        {% endif %}
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                            </td>
                            <td>
                            {% if sensor_name_form.sensor.connected %}
                                    <span class="badge badge-success">Detected </span>
                            {% else %}
                                    <span class="badge badge-danger">Not found</span>
                            {% endif %}
                                </td>
                        </tr>
                        <div type="hidden" style="display:none;">
                            {{ sensor_name_form.serial }}
                        </div> 
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                 <div class="p-2">
                     <button type="submit" 
                         id="sensor-submit"
                         class="btn btn-success text-right" 
                         value="change_sensor"
                         name="sensor_names">
                         Save
                     </button>
                </div>

            </div>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
          No sensors known to the system. Connect sensors and register them via the setup menu.
        </div>
    {% endif %}

    <table class="table" id="sensorOperationTable">	
        <tbody>
            <tr>
                <td>
                    Store current sensor configuration
                </td>
                <td>
                </td>
                <td>
                    <form method="post" action=''> 
                        {% csrf_token %}  
                        <button class="btn btn-primary" type="submit" name="save_sensors" >
                            <i class='fas fa-download fa-sm' style='float:left; margin-top:5px'></i>&nbsp; Download config
                        </button>
                    </form>
                </td>

            </tr>
            <form method="post" action='' enctype="multipart/form-data"> 
                {% csrf_token %}  
                <tr>
                    <td>
                        Upload new sensor configuration
                    </td>
                    <td>
                        <input type="file" name="file" autocomplete="off" enctype="multipart/form-data" required>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="submit" name="upload_sensor_csv" >
                            <i class='fas fa-upload fa-sm' style='float:left; margin-top:5px'></i>&nbsp; Upload config
                        </button>
                        <br>
                        {% if sensor_upload_form.errors %}
                            {%for field in sensor_upload_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">{{error|escape}}</div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

    <br>

    <button class="btn btn-danger" onclick="document.getElementById('delete_sensors_all').style.display='block'"> 
        Delete all	
    </button>
    <button class="btn btn-danger" onclick="document.getElementById('delete_sensors_inactive').style.display='block'"> 
        Delete disconnected
    </button>
    <!-- Delete all connected dialog -->
    <div class="alert alert-warning alert-dismissible fade show" id="delete_sensors_all" style="display:none">
        <strong>Warning!</strong> You are about to delete all registered sensors (both connected and disconnected).
        <button type="button" class="close" aria-label="Close" onclick="document.getElementById('delete_sensors_all').style.display='none'">
            <span aria-hidden="true">&times;</span>
        </button>
        <form method="post" action=''> 
            {% csrf_token %}  
            <button class="btn btn-danger" type="submit" name="delete_sensors" value="all" > 
                Delete all	
            </button>
        </form>
    </div>

    <!-- Delete all dialog -->
    <div class="alert alert-warning alert-dismissible fade show" id="delete_sensors_inactive" style="display:none">
        <strong>Warning!</strong> You are about to delete all entries of disconnected sensors.
        <button type="button" class="close" aria-label="Close" onclick="document.getElementById('delete_sensors_inactive').style.display='none'">
            <span aria-hidden="true">&times;</span>
        </button>
        <form method="post" action=''> 
            {% csrf_token %}  
            <button class="btn btn-danger" type="submit" name="delete_sensors" value="inactive" > 
                Delete all inactive
            </button>
        </form>
    </div>
</div>
