<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

<div class="card card-body" style="z-index:10">
  <table class="table table-sm ">
    <tbody >
      <tr>
        <th scope="col">#</th>
          <td> {{ measurement_details.id}}</td>
        </tr>
      <tr>
        <td scope="col">Measurement ID</td>
        <td> {{ measurement_details.name }}</td>
      </tr>
      <tr>
        <td scope="col">Started</td>
        <td> {{ measurement_details.start_measure }}</td>
      </tr>
      <tr>
        <td scope="col">Stopped</td>
        <td> -</td>
        <!--<td> {{ measurement_details.stop_measure }}</td>--!>
      </tr>
    </tbody>
  </table>
  <div id="measurement_details">
    <table class="table table-sm">
        <tbody>
            <tr>
                {% for sensor, count in sensor_numbers.items %}
                  {% if count > 0 %}
                    <td scope="col">#{{sensor.upper}}</td>
                    <td class="text-success"> {{ count }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
  </div>
</div>
