<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}
{% block pageTitle %} Home {% endblock %}

{% block content %}

<div class="container" >
	<div class="row">
		<div class="col-md-12" align="center" style="margin:10px">
			<h2> Welcome to the Mobile Measurement System </h2>
		</div>
	</div>
</div>


<div class="container">

<h4 class="mt-4 text-success">Quick start</h4>
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-group-item">Connect all FTDI and sensors.</li>
        <li class="list-group-item">Start the sensor initialization by navigating to the setup menu and clicking on the corresponding button.</li>
        <li class="list-group-item">Check if all sensors were detected correctly. </li>
        <li class="list-group-item">Assign sensor identifiers in the settings menu.</li>
        <li class="list-group-item">Start a measurement by clicking the green button in the top right cornor.</li>
    </ul>


<h4 class="mt-4 text-primary">General tipps</h4>
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-group-item">An automatic initialization process of all connected FTDI and sensors is triggered on boot up. If all sensors were connected before boot, no additional initialization is necesarry. </li>
        <li class="list-group-item">If you want to see live data navigate to the Live menu.</li>
        <li class="list-group-item">If you want to see a visualization of the live data navigate to the Visualization menu.</li>
        <li class="list-group-item">If you want to assign a specific identifier or schedule your measurement navigate to the Measurement menu.</li>
    </ul>
<h4 class="mt-4 text-primary">Raspberry Pi related tipps</h4>
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-group-item">Make sure all FTDI devices were connected before powering up the RPi. </li>
        <li class="list-group-item">A blinking red light indicates a running measurement. </li>
        <li class="list-group-item">A blinking green light indicates a running initialization process. </li>
        <li class="list-group-item">A green light indicates that the initialization process finished without errors. </li>
    </ul>
</div>

{% endblock %}

