<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}
{% block pageTitle %} 
  Live  
{% endblock %}

{% block content %}
  {% load staticfiles %}
  <html>
    <head>
    <!--[if lte IE 8]>
      <script src="{% static 'js/excanvas.js' %}"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"> </script>
      <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"> </script>
    </head>
    <body>
      <div class="h2 d-flex justify-content-center p-2">
        Live data monitor  
      </div>
  
      <div id="alert">
      </div>
      {% if live_url %}
        <div class="alert alert-secondary" role="alert">
          Mean values are calculated using the 
          <strong> last <span id="meanValues"></span> values </strong>.
          This can be changed in <span class="font-weight-light">Settings > General > Server </span>.
          If Stream mode is active only the most recent values are shown (no averaging).
          Rows are highlighted if the last response was too long ago. The maximum dead time can be set in the settings menu.
        </div>
        <table class="table table-hover table-sm" >
          <thead class="thead-dark" id="NAU7802table" style="display:none">
            <tr>
              <th scope="col" style="width:15%">NAU7802 sensors</th>
              <th scope="col" style="width:10%">
                <input class="form-control" id="NAU7802input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">ADC</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="NAU7802body"></tbody>
          <thead class="thead-dark" id="SHTtable" style="display:none">
            <tr>
              <th scope="col" style="width:15%">SHT sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="SHTinput" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Humidity [%]</th>
              <th scope="col">Temperature [°C]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="SHTbody"></tbody>
          <thead class="thead-dark" id="SMGAIR2table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">SMGair2 sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="SMGAIR2input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Abs. pressure [Pa]</th>
              <th scope="col">Volume flow [l/min]</th>
              <th scope="col">Density [kg/m³]</th>
              <th scope="col">Temperautre [°C]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="SMGAIR2body"></tbody>
          <thead class="thead-dark" id="MAX31865table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">MAX31865 sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="MAX31865input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Temperature [°C]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="MAX31865body"></tbody>
          <thead class="thead-dark" id="S8000table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">S8000 sensors</th>
              <th scope="col" style="width:10%;">
                <input class="form-control" id="S8000input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Dewpoint [°C]</th>
              <th scope="col">Temperature [°C]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="S8000body"></tbody>
          <thead class="thead-dark" id="SPS30table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">SPS30 sensors</th>
                <th scope="col" style="width:10%;">
                  <input class="form-control" id="SPS30input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
                </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">0.3 - 1.0&#956; [&#956;g/m³]</th>
              <th scope="col">0.3 - 2.5&#956; [&#956;g/m³]</th>
              <th scope="col">0.3 - 4.5&#956; [&#956;g/m³]</th>
              <th scope="col">0.3 - 10&#956; [&#956;g/m³]</th>
              <th scope="col">0.3 - 0.5&#956; [1/cm³]</th>
              <th scope="col">0.3 - 1.0&#956; [1/cm³]</th>
              <th scope="col">0.3 - 2.5&#956; [1/cm³]</th>
              <th scope="col">0.3 - 4.0&#956; [1/cm³]</th>
              <th scope="col">0.3 - 10&#956; [1/cm³]</th>
              <th scope="col">TPS  [&#956;m]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="SPS30body"></tbody>
          <thead class="thead-dark" id="SCD30table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">SCD30 sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="SCD30input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">CO2 [ppm]</th>
              <th scope="col">Temperature [°C]</th>
              <th scope="col">Humidity [%]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="SCD30body"></tbody>
          <thead class="thead-dark" id="ADS1015table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">ADS1015 sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="ADS1015input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Voltage [V]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="ADS1015body"></tbody>
          <thead class="thead-dark" id="BME280table" style="display:none">
            <tr>
              <th scope="col" style="width:10%">BME280 sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="BME280input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Abs. pressure [Pa]</th>
              <th scope="col">Humidity [%]</th>
              <th scope="col">Temperature [°C]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="BME280body"></tbody>
          <thead class="thead-dark" id="SFMtable" style="display:none">
            <tr>
              <th scope="col" style="width:15%">SFM sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="SFMinput" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Volume flow [slm]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="SFMbody"></tbody>
          <thead class="thead-dark" id="SDP8table" style="display:none">
            <tr>
              <th scope="col" style="width:15%">SDP sensors</th>
              <th scope="col" style="width:20%">
                <input class="form-control" id="SDP8input" type="text" placeholder="Search.." style="line-height:10px;padding:4px 5px;">
              </th>
              <th scope="col">Freq. [Hz]</th>
              <th scope="col">Pressure [Pa]</th>
              <th scope="col">Temperature [°C]</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody id="SDP8body">
        </table>
        <a href="{{ raw_url }}?format=json">
          <button type="button" class="btn btn-primary">
            Raw data 
          </button>
        </a>
      {% else %}
        <button class="btn btn-primary" onClick="window.location.reload();">Refresh Page</button>
      {% endif %}
  
  
      <script>
        var sensor_types = ["sht", "sfm", "max31865", "scd30", "bme280", "ads1015", "sdp8", "nau7802", "sps30", "smgair2", "s8000", "optidew"]
        meanValueString = function(values, N0){
          N = values.length;
          var val = 0;
          for (var j = 0; j<values.length; j++){
            if (values[j]!==null) {
              val += parseFloat(values[j])
            } else {
              N = N-1
            }
          }
          val = val / N
    
  
          if (N < N0) {
            // NaN values found in last N0 values
            return {"value": val.toFixed(2), "error": "Errors: " + (N0-N).toString()+ "/"+ N0.toString() + "" };
          } else {
            return {"value": val.toFixed(2), "error": "" };
          }
        }
  
        // plot update function using a given url
        updateTable = function(url) {
          // EXTRACT VALUE FOR HTML HEADER. 
          var ftdi_hw_details = {
              "FTDI": {"tooltip": "FTDI identifier", "color": "badge-danger", "data": "FTDIserial"},
              "MUXaddress": {"tooltip": "Soldered MUX address", "color": "badge-dark", "data": "MUXaddress"},
              "MUXport": {"tooltip": "MUX port", "color": "badge-light", "data": "MUXport"},
              };
  
          var com_hw_details = {
              "Port": {"tooltip": "COM Port", "color": "badge-danger", "data": "COMport"},
              };
  
          base_url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
          url = base_url + url
  
  
          document.getElementById("meanValues").innerHTML = url.split("/").slice(-1)[0]
          fetch(url).then(response => {
            return response.json()
          })
          .then(data=> {
            // Supported sensors
            // Result entries that will not be shown
  
            var excludes = ["Color", "FTDIserial", "MUXaddress", "time", "MUXport", "SENSORidentifier", "SENSORserial", "COMport", "Frequency"]
            var n_sensors = {}
            for (var i=0; i<sensor_types.length; i++) {
              if (data[sensor_types[i]] !== []) {
                n_sensors[sensor_types[i]] = data[sensor_types[i]].length
              }
            }
  
            // For all supported sensor types
            for (var i=0; i<sensor_types.length; i++) {
              // If sensor has been detected
              if (data[sensor_types[i]].length > 0) {
                // fetch relevant result columns
                var result_cols = []
                var keys = Object.keys(data[sensor_types[i]][0])
                for (var n=0; n < keys.length; n++) {
                  if (! excludes.includes(keys[n])) {
                    result_cols.push(keys[n])    
                  }
                }
                // get table body
                var id = sensor_types[i].toUpperCase();
                var body = document.getElementById(id+"body");
                document.getElementById(id+"table").style.display="";
                body.innerHTML = ""
                for (var j in data[sensor_types[i]]) {
                  tr = body.insertRow(-1);
                  var new_td = document.createElement('td')
                  if (data[sensor_types[i]][0]["FTDIserial"] !== "undefined") {
                      hw_details = ftdi_hw_details;
                  } else {
                      hw_details = com_hw_details;
                  }
                  for (var el in hw_details) {
                    var s = document.createElement('span')
                    s.classList.add("badge", hw_details[el]['color']);
                    s.setAttribute("data-toggle", "tooltip")
                    s.setAttribute("data-placement", "top")
                    s.setAttribute("title", hw_details[el]["title"] );
                    s.innerHTML = data[sensor_types[i]][j][hw_details[el]["data"]];
                    new_td.appendChild(s);
                  }
                  tr.appendChild(new_td);
                  var new_td = document.createElement('td');
                  var h = document.createElement('h3');
                  var s = document.createElement('span');
                  s.classList.add("badge", "badge-secondary");
                  s.setAttribute("data-toggle", "tooltip");
                  s.setAttribute("data-placement", "top");
                  s.setAttribute("title", "Identifier of sensor #" + data[sensor_types[i]][j]["SENSORserial"]  );
                  s.innerHTML = data[sensor_types[i]][j]["SENSORidentifier"];
                  h.appendChild(s);
                  new_td.appendChild(h);
                  tr.appendChild(new_td);
                  var f_td= document.createElement('td');
                  var f = document.createElement('span');
                  f_td.appendChild(f);
                  f.innerHTML = data[sensor_types[i]][j]["Frequency"] + " Hz";
                  tr.appendChild(f_td);
        
  
                  for (var c in result_cols) {
                    var new_td = document.createElement('td')
                    var val = 0
                    N = data[sensor_types[i]][0][result_cols[c]].length
                    mean_sensor_value = meanValueString(data[sensor_types[i]][j][result_cols[c]], N)
                    new_td.innerHTML = mean_sensor_value.value
                    tr.appendChild(new_td);
                    if (c == result_cols.length -1)  {
                       var new_td = document.createElement('td')
                       new_td.innerHTML = mean_sensor_value.error
                       tr.appendChild(new_td);
                    }
                  }
                  // Most recent time stamp
                  let t_sens  = new Date(data[sensor_types[i]][j]["time"].slice(-1)[0]);
                  let t_sys = new Date(data["systime"]);
                  let dt = (t_sys-t_sens) / 1000.;
                  if (dt > {{ warning_thres }}) {
                      tr.className += "table-warning";
                  }
                }
                var value = $("#" + id + "input").val().toLowerCase();
                $("#"+ id +"body tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              }
            }
          });
        }
        {% if live_url %}
          updateTable("{{ live_url }}");
          setInterval(function(){updateTable("{{ live_url }}");}, 1000);
        {% else %}
             var alertField = document.getElementById('alert');
          alertField.innerHTML = "<div class='alert alert-danger'> No live measurement found! </div>";
        {% endif %}
        $(document).ready(function(){
          for (var i in sensor_types){
            $("#" + sensor_types[i].toUpperCase + "input").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#" + sensor_types[i].toUpperCase + "body tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          }
        });
      </script>
    </body>
  </html>
  
{% endblock %}

