<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}
{% block pageTitle %} Home {% endblock %}

{% block content %}
<div class="h2 d-flex justify-content-center p-2">
Schedule measurement
</div>
<div class="d-flex justify-content-center">
	{% for err in schedule_form.non_field_errors%}
		<div class="alert alert-danger" role="alert">
			{{ err }}
		</div>
	{% endfor %}

	<form action="/start/" method="post">
		{% csrf_token %}
		<table id="measurementTable" class="table-sm">
			<tr>
				<td> Title: </td><td colspan="4">{{ schedule_form.name }} </td>
			</tr>
			<tr>
				<td> Starting time: </td>
				<td colspan="4">{{ schedule_form.start_measure}} </td>
			</tr>
			<tr>
				<td> Duration: </td>
				<td>
					{{ schedule_form.duration_days}} d
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					{{ schedule_form.duration_hours}} h
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					{{ schedule_form.duration_minutes}} m
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					{{ schedule_form.duration_seconds}} s
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input class="btn btn-primary" type="submit" value="Schedule" align="right">
				</td>
			</tr>
		</table>
	</form>
</div>

{% endblock %}
